{% extends 'base.html.twig' %}
{% block body %}
<section class="row">
    <article class="col s12 m12 l6 offset-l3 security-form">
        <div>
            <h1 class="center">Mot de passe oublié</h1>
        </div>
        <hr>
        <div class="security-form-infos">
            <p>Saisissez dans le champ ci-dessous l'adresse e-mail utilisée lors de votre inscription.</p>
            <p>Ensuite un e-mail vous permettant de changer votre mot de passe va vous être envoyé.</p>
        </div>
        <hr>
        {{ form_start(form) }}
        <div class="input-field">
            {{ form_label(form.email, 'Votre adresse e-mail') }}
            {{ form_widget(form.email) }}
            {{ form_errors(form.email) }}
        </div>

        <div class="center">
            {{ form_widget(form.envoyer) }}
        </div>
        {{ form_end(form) }}
    </article>
</section>



{% endblock %}
